---
layout: layouts/base.njk
---
<h1 class="text-3xl border-b-2">Thank you!</h1>

<p>My pager just beeped, I'm awake, and your stickers are being packaged in the
 finest envelopes with only the nichest stamps available from the postal service.
 They will be in the mail as soon as possible! When they arrive, don't forget
 show me where you put them!</p>