---
layout: layouts/base.njk
---
<h1 class="text-3xl border-b-2">Thank you!</h1>

<p>My pager just beeped and I am packing up your stickers right now. 
They should be in the mail as soon as possible! When they arrive, 
don't forget to show me where you put them!</p>