---
layout: layouts/base.njk
pageTitle: Thank you!
---
<h1 class="w-full text-center text-3xl border-b-4 border-red-600 border-dashed bg-blue-200 font-title">Thank you!</h1>

<article class="bg-yellow-100 py-4 text-center">
  <p class="mx-auto max-w-md">My pager just beeped, I'm awake, and your stickers are being packaged in the finest envelopes with only the nichest stamps available from the <a href="https://store.usps.com/store/home" class="underline">United States Postal Service</a>. They will be in the mail as soon as possible! When they arrive, don't forget show me where you put them!</p>
</article>